.codigo {
    display: flex;
    flex-direction: column;
}

.codigo__background {
    background-color: #6BD1FF;
    border-radius: .5rem;
    padding: 2rem;
}

.codigo__background-icone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #141414;
    width: calc(100% - 2rem);
    height: calc(22.5rem * 100%);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

.editor {
    width: calc(100% - .7rem);
    height: 250px;
    border-radius: .5rem;
    border: none;
    outline: none;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    white-space: pre-wrap;
}

.editor div {
    line-height: 18,46px;
}

.codigo__background-icone-img {
    padding-bottom: 1rem;
}

.codigo__botao {
    font-family: 'Inter';
    font-size: 1rem;
    background-color:rgba(80, 128, 251, 0.08);
    height: 3.5rem;
    color: #ffffff;
    border: none;
    border-radius: .8rem;
    margin: 1rem 0;
    outline: none;
    cursor: pointer;
}

.codigo__botao:hover {
    background-color: rgba(80, 129, 251, 0.16);
}

.codigo__botao:active {
    background-color: rgba(80, 129, 251, 0.16);
    border: 4px solid rgba(80, 129, 251, 0.24);
}

.codigo__botao:focus {
    background-color: rgba(80, 129, 251, 0.24);
}

@media screen and (min-width: 1024px){
    
}